Options -MultiViews
Options -Indexes
RewriteEngine On
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php [QSA,L]

RewriteRule ^(\.htaccess) - [F,L,NC]
RewriteRule ^(.+\.db) - [F,L,NC]
RewriteRule ^app/(.+) - [F,L,NC]
